wheel

# Jupyter reqs =====================================
jupyter-book
jupyter-contrib-nbextensions
myst-nb
sphinx-bibtex

# TikZ extension ====================================
git+https://github.com/mkrphys/ipython-tikzmagic.git

# FastAPI reqs ======================================
fastapi
uvicorn
tortoise-orm
